<!DOCTYPE html>
<html>

   <head>
      <title>URL Shortener Microservice</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="row">
        
         <div class="col-md-3">
         </div>
         
         <div class="col-md-6">
         <h1>URL Shortener Microservice</h1>
         <h3>
           by Sam
           <br><br>
           Endpoint: https://sam-shorten.glitch.me/
           <br><br>
           Instructions / Code Samples:
         </h3>
        <center>
          <table style="width:100%">
            <tr>
              <td>
                <div class="well">
                  1. Pass in a long URL using <b>/new/</b>
                  <pre><code>
$.getJSON('https://sam-shorten.glitch.me<b>/new/https://i.pinimg.com/736x/97/c2/64/97c264aa837fca6c945cd7b0c16fe0dd--daisies-sunflowers.jpg</b>', function(data) {
  // do something with 'data'
});
                  </code></pre>
                </div>
              </td>
              <td>
                <div class="well">
                  2. Receive an object with an <b>original_url</b> field, and a shiny new <b>short_url</b> field!
                  <pre><code>
{<b>"original_url"</b>:"https://i.pinimg.com/736x/97/c2/64/97c264aa837fca6c945cd7b0c16fe0dd--daisies-sunflowers.jpg",<b>"short_url"</b>:"https://sam-shorten.glitch.me/0"}
                  </code></pre>
                </div>
              </td>
            </tr>
          </table>
          
          <div class="well">
            3. Point your browser at the short_url to see the original_url's page:<br>
            <pre><code>
https://sam-shorten.glitch.me/0
            </code></pre>
            <img src="https://sam-shorten.glitch.me/0" height="150px">
          </div>
          
          <h3>Demo</h3>Try for yourself <a href= "https://codepen.io/sefields/pen/qXeBER">here</a>!
        </center>
        </div>
        
        <div class="col-md-3">
        </div>
        
      </div>
   </body>

</html>
